.wf-active body {
  font-family: "open-sans",sans-serif; }

.wf-active h1, .wf-active h2, .wf-active h3, .wf-active h4, .wf-active h5, .wf-active h6, .wf-active .btn {
  font-family: "brandon-grotesque", sans-serif; }

html {
  width: 100%;
  height: 100%; }

.wdc {
  min-height: 100%;
  padding-bottom: 86px;
  position: relative;
  color: #222; }
  .wdc h2 {
    margin-bottom: 20px; }
  .wdc .navbar-wrapper {
    padding-top: 15px;
    background: url("../images/wdcbg.jpg") no-repeat center center;
    background-size: cover; }
    @media screen and (min-width: 1024px) {
      .wdc .navbar-wrapper {
        min-height: 400px; } }
    .wdc .navbar-wrapper .navbar {
      border-radius: 0;
      padding: 0.5rem 1rem 0.5rem 0.5rem; }
    .wdc .navbar-wrapper .navbar-brand {
      height: 50px;
      width: 50px;
      padding: 0; }
    .wdc .navbar-wrapper #wdcmainnav {
      clear: both; }
      @media screen and (min-width: 40em) {
        .wdc .navbar-wrapper #wdcmainnav {
          clear: none; } }
    .wdc .navbar-wrapper .nav-item {
      float: none;
      margin-left: 0; }
      @media screen and (min-width: 40em) {
        .wdc .navbar-wrapper .nav-item {
          float: left;
          margin-left: 15px; } }
      .wdc .navbar-wrapper .nav-item .nav-link {
        padding: 0.5rem 0; }
        @media screen and (min-width: 40em) {
          .wdc .navbar-wrapper .nav-item .nav-link {
            padding-top: 0.825rem;
            padding-bottom: 0.825rem; } }
  .wdc .home-intro {
    background: rgba(255, 255, 255, 0.75);
    text-align: center;
    height: 225px;
    margin: 20px 0;
    box-sizing: border-box;
    padding: 20px; }
    @media screen and (min-width: 62em) {
      .wdc .home-intro {
        height: 300px; } }
    .wdc .home-intro h1 {
      font-size: 3.6rem; }
      @media screen and (min-width: 62em) {
        .wdc .home-intro h1 {
          font-size: 7rem; } }
    .wdc .home-intro h2 {
      font-size: 2.125rem; }
      @media screen and (min-width: 62em) {
        .wdc .home-intro h2 {
          font-size: 4.2rem; } }
  .wdc .home-section-wrapper {
    padding: 20px 0; }
  .wdc .home-section-block {
    box-sizing: border-box;
    padding: 10px;
    background-color: #222;
    color: #fff; }
    .wdc .home-section-block h3 {
      text-transform: uppercase; }
  .wdc .map {
    margin: 20px 0; }
    .wdc .map__location {
      height: 500px; }
  .wdc .partner-block {
    margin-bottom: 20px; }
    .wdc .partner-block .partner-block-image-wrapper {
      box-sizing: border-box;
      border: 5px solid #222;
      padding: 10px;
      height: 255px;
      display: flex;
      align-items: center; }
      .wdc .partner-block .partner-block-image-wrapper a {
        display: block;
        width: 100%; }
      .wdc .partner-block .partner-block-image-wrapper img {
        display: block; }
    .wdc .partner-block.bluefly .partner-block-image-wrapper {
      background-color: #426eb6; }
    .wdc .partner-block footer {
      background-color: #222;
      color: #fff;
      box-sizing: border-box;
      padding: 5px; }
      .wdc .partner-block footer a {
        color: #fff200; }
  .wdc .site-footer {
    border-top: 1px solid #ccc;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
  .wdc .btn {
    text-transform: uppercase;
    border-radius: 0; }
    .wdc .btn-wdc {
      background-color: #fff200;
      color: #222; }
  .wdc.page h1 {
    margin-bottom: 30px; }
  .wdc.page h2 {
    margin: 20px 0; }
  .wdc.page .schedule-time-slot {
    padding: 20px 0;
    background-color: #f9f9f9; }
    .wdc.page .schedule-time-slot.break {
      color: #ccc;
      background-color: #222; }
    .wdc.page .schedule-time-slot h2 {
      margin-top: 0; }
  .wdc.page .workshop-row {
    padding: 20px 0; }
    .wdc.page .workshop-row h2 {
      margin-top: 0; }
